* {
    box-sizing: border-box;
    margin: 0;
    padding-inline-start: 0;
}

h1 {
    color: white;
    text-align: center;
    padding: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    background-color: black;
    width: 100%;
    margin-bottom: 2rem;
}

header button {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0;
    display: inline;
}

header button:hover {
    cursor: pointer;
    color: lightblue;
}

.addTask {
    display: flex;
    justify-content: center;
}

.addTask > button {
    background-color: darkmagenta;
    border: none;
    color: white;
    padding: 1rem;
    border-radius: 5px;
}
.addTask > button:hover {
    cursor: pointer;
    background-color: purple;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-content {
    border-radius: 10px;
    width: 300px;
    min-height: 300px;
    max-height: 100%;
    background-color: white;
    color: black;
    padding: 1rem;
    -webkit-box-shadow: 9px 10px 32px 0px rgba(84, 84, 84, 0.74);
    -moz-box-shadow: 9px 10px 32px 0px rgba(84, 84, 84, 0.74);
    box-shadow: 9px 10px 32px 0px rgba(84, 84, 84, 0.74);
}

.overlay-content h3 {
    text-align: center;
}

.overlay-form {
    display: flex;
    flex-direction: column;
}

.overlay-form span {
    display: block;
    padding: 0.6rem;
}
.overlay-form input[type="text"],
.overlay-form select {
    padding: 0.6rem;
    border: none;
    background-color: rgba(150, 150, 150, 1);
    color: white;
    border-radius: 5px;
}

.overlay-form input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.5);
    opacity: 1; /* Firefox */
}

.overlay-form button {
    background-color: darkmagenta;
    border: none;
    color: white;
    padding: 0.6rem;
    border-radius: 5px;
    margin-top: 1rem;
}
.overlay-form button:hover {
    cursor: pointer;
    background-color: purple;
}

.close-overlay {
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 0 0;
}

.close-overlay p {
    padding: 0;
    margin: 0;
    line-height: 0;
}

.close-overlay p:hover {
    font-weight: bold;
    cursor: pointer;
}
